#nameList{
	max-height;
	width: 200px;
	background-color: yellow;
}

#randomStudent{
	height: 100px;
	width: 200px;
	background-color: #dbdbce;
}

h1{
	text-align: center;
}

#showGroupStudents{
	max-height;
	width: 200px;
	background-color: yellow;
}